:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

[data-aos] {
  overflow: hidden; /* Or adjust as per requirement */
}

@media (max-width: 576px) {
 .departmentnav .nav-pills {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .departmentnav .nav-item {
    flex: 0 0 auto;
    margin-right: 5px;
  }
  
}

@media only screen and (max-width: 600px) {
  .mobiledivhide{
    display: none !important;
  }
  .centeronmobile{
    text-align: center;
  }
  .service-div{
    margin-bottom: 80px;
  }
}



.loader {
  width: 24px;
  height: 80px;
  display: block;
  margin: 35px auto 0;
  border: 1px solid #000; /* Changed for visibility */
  border-radius: 0 0 50px 50px;
  position: relative;
  background-image: linear-gradient(to top, #104122 100px, transparent 0);
  background-size: 22px 80px;
  background-repeat: no-repeat;
  animation: animloader 6s linear infinite;
}

.loader::after {
  content: '';  
  box-sizing: border-box;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border: 1px solid #000; /* Changed for visibility */
  border-radius: 50%;
  width: 28px;
  height: 6px;
}

.loader::before {
  content: '';  
  box-sizing: border-box;
  left: 0;
  bottom: -4px;
  border-radius: 50%;
  position: absolute;
  width: 6px;
  height: 6px;
  animation: animloader1 6s linear infinite;
}

@keyframes animloader {
  0% {
    background-position: 0px 80px;
  }
  100% {
    background-position: 0px 0px;
  }
}

@keyframes animloader1 {
  0% {
    box-shadow: 4px -10px rgba(0, 0, 0, 0), 6px 0px rgba(0, 0, 0, 0), 8px -15px rgba(0, 0, 0, 0), 12px 0px rgba(0, 0, 0, 0);
  }
  20% {
    box-shadow: 4px -20px rgba(0, 0, 0, 0), 8px -10px rgba(0, 0, 0, 0), 10px -30px rgba(0, 0, 0, 0.5), 15px -5px rgba(0, 0, 0, 0);
  }
  40% {
    box-shadow: 2px -40px rgba(0, 0, 0, 0.5), 8px -30px rgba(0, 0, 0, 0.4), 8px -60px rgba(0, 0, 0, 0.5), 12px -15px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 4px -100px rgba(0, 0, 0, 0), 8px -90px rgba(0, 0, 0, 0), 10px -120px rgba(0, 0, 0, 0), 15px -45px rgba(0, 0, 0, 0);
  }
}


.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));
  z-index: 1;
}



.background-video{
  height: 700px !important;
  z-index: 0;
}


@media only screen and (max-width: 991px) {
  .background-video{
    height: 105vh !important;
  }

}

.contact-icon {
  height: 90px;
}


#google_translate_element{
  height: 40px !important;
  overflow: hidden;
}

#google_translate_element .goog-te-combo{
  height: 35px;
  background-color: white;
  color: black;
}

nextjs-portal {
  display: none;
}


.blink {
  animation: blink-animation 1s steps(9, start) infinite;
  -webkit-animation: blink-animation 1s steps(9, start) infinite;
}

@keyframes blink-animation {
  50% {
    opacity: 0;
  }
}
.sticky-header {
  background-color: darkgreen !important;
  color: white !important;
}
/* <style> */
    .modal-header {
      border-bottom: none;
    }
    .nav-tabs {
      border-bottom: none;
    }
    .form-control:focus {
      box-shadow: none;
    }
  /* </style> */
/* .modal-backdrop {
  display: none !important;
} */
